.header {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 19px;
    width: 100%;

    @media screen and (min-width:768px) {
                padding-top: 36px;
}
}

.header .container {
    display: flex;
    flex-direction: column-reverse;

    @media screen and (min-width:768px) {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
}
}

.logo {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
}
 
.nav__list {
    @extend %flex;
    margin-bottom: 112px;

    @media screen and (min-width:768px) {
                margin-bottom: 0;
        }
}

.nav__list__item:not(:last-child) {
    margin-right: 4px;
}

.nav__list__item:last-child {
    background-color: rgba(26, 25, 21, 0.0001);
    border: 2px solid #FFFFFF;
    border-radius: 50px;
}

.nav__button {
    font-size: 14px;
    line-height: 17px;
    display: flex;
    text-align: center;
    color: #FFFFFF;
    border: none;
    background-color: transparent;
    padding: 10px;
}