.partner__button {
    background: #FFFFFF;
    border: 2px solid $button__color;
    border-radius: 50px;

    font-size: 14px;
    line-height: 17px;
    color: $button__color;

    padding: 12px 59px;

    @media screen and (min-width:768px) {
            background: #FFFFFF;
            border: 2px solid  $button__color;
            border-radius: 50px;
    
            font-size: 14px;
            line-height: 17px;
            color: $button__color;
    
            margin-top: 38px;
            padding: 12px 17px;
        }

        @media screen and (min-width:1200px) {
            background: #FFFFFF;
            border: 2px solid $button__color;
            border-radius: 50px;
            
            font-size: 14px;
            line-height: 17px;
            color: $button__color;
            
            margin-top: 38px;
            padding: 12px 17px;
        }
    }